<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/cadastros.css">
</head>
<body>
    <div class="main-container">
        <h1 id="titulo">Cadastros</h1>
        
        <div class="cadastros-container"> 
			<div class="table_cadastros" role="region" tabindex="0">
				<table>
					<thead>
						<tr>
							<th>Nome</th>
							<th>E-Mail</th>
							<th>CPF</th>
							<th>Endereço</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Hudson</td>
							<td>hudson@gmail.com</td>
							<td>36357586803</td>
							<td>av rua legal, 3919</td>
							<td>
								<button class="actions" type="button" name="Editar"><img src="../static/img/editar.svg" width="50%" alt="Editar"></button>
								<button class="actions" type="button" name="Excluir"><img src="../static/img/cruz.svg" width="50%" alt="Excluir"></button>
							</td>
						</tr>
					</tbody>
				</table>
				</div>
        </div>
        <button type="button">Adicionar</button>
    </div>
</body>
</html>