<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Cadastros</title>
    <link rel="stylesheet" type="text/css" href="../static/css/cadastros.css">
</head>
<body>
    <div class="main-container">
        <h1 id="titulo">Cadastros</h1>
        
        <div class="cadastros-container"> 
			<div class="table_cadastros" role="region" tabindex="0">
				<table>
					<thead>
						<tr>
							<th>Nome</th>
							<th>E-Mail</th>
							<th>CPF</th>
							<th>Endereço</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Hudson</td>
							<td>hudson@gmail.com</td>
							<td>36357586803</td>
							<td>av rua legal, 3919</td>
							<td>
								<button class="actions" type="button" name="Editar"><img src="../static/img/editar.svg" width="50%" alt="Editar"></button>
								<button class="actions" type="button" name="Excluir"><img src="../static/img/cruz.svg" width="50%" alt="Excluir"></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
        </div>
        <button id="add" type="button">Adicionar</button>
		<dialog>
			<div class="dialog">
			<div class="formulario">
				<h2>Novo Cadastro</h2>
				<form>
				<div class="user-box">
					<label>Nome</label><br>
					<input type="text" name="" required="">
				</div>
				<div class="user-box">
					<label>E-Mail</label><br>
					<input type="text" name="" required="">
				</div>
				<div class="user-box">
					<label>CPF</label><br>
					<input type="text" name="" required="">
				</div>
				<div class="user-box">
					<label>Endereço</label><br>
					<input type="text" name="" required="">
				</div>
				</form>
			</div>
			</div>
			<div class="botoes-dialog">
				<button id="concluir">Concluir</button>
				<button id="cancelar">Cancelar</button>
			</div>
			
		</dialog>
    </div>
	<script src="../static/js/cadastros.js"></script>
</body>
</html>